.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
  }

  .icons {
    display: flex;
    gap: 20px;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-letter {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 25, 40, 0.5);
}
